:root {
    --blue: #2196F3;
    --black: #212121;
    --grey: #AFB1B8;
    --white: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    margin-bottom: 94px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.nav-menu__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--black);
    text-decoration: none;
}
.nav-menu__list {
    display: flex;
    margin-left: 85px;
    position: relative;
}

.nav-menu__item {
    margin-right: 50px;
    position: relative;
}

.nav-menu__item::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    top: 65px;
    left: 0px;
    display: none;
}

.nav-menu__item:hover::after {
    display: block;
}

.nav-menu__item:last-child {
    margin-right: 0;
}

.nav-menu__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;    
    line-height: 16px;
    color: var(--black);
    text-decoration: none;
}

.nav-menu__link:hover {
    color: var(--blue);
}

span {
    color: var(--blue);
    text-decoration: none;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;    
    line-height: 16px;
    color:#757575;
    fill: #757575;
    transition: color 0.3s, fill 0.3s;
}

.contacts-item + .contacts-item {
    margin-left: 30px;
}

.contacts-item__icon {
    width: 10px;
    height: 15px;
    display: flex;
    margin-right: 10px;
}

.contacts-item__icon_mail {
    width: 16px;
    height: 11px;
}

.contacts-item:hover {
    color: var(--blue);
    fill: var(--blue);
}

.poftfolio-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.portfolio-btn {
    border: none;
    padding: 6px 22px;
    color: var(--black);
    background-color:#F5F4FA;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-right: 8px;
}
.portfolio-btn:last-child {
    margin-right: 0;
}

.portfolio-btn:hover {
    color: var(--white);
    background-color: var(--blue);
}

.portfolio__col {
    width: 33.3%;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.portfolio-card {
    border: 1px solid #EEEEEE;
    margin: 15px;
    overflow: hidden;
}


.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-description {
    position: absolute;
    bottom: 0;
    height: 100%;
    padding: 62px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--white);
    transform: translateY(100%);
    transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-description{
    transform: translateY(0);
}

.portfolio-card-wrapper {
    padding: 20px 24px;
}

.portfolio-card__company {
    color: var(--black);
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.portfolio-card__text {
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 4px;
}

.portfolio-card__img {
    width: 100%;
    max-height: 294px;
    object-fit: cover;
}

@media screen and (max-width: 991px)  {
    .header__inner {
        justify-content: space-between;
    }
    .contacts {
        flex-direction: column;
    }
    .contacts-item + .contacts-item  {
        margin-left: 0;
        margin-top: 10px;
    }

    .portfolio__col {
        width: 50%;
    }
}